PROJECT_NAME=AI Career Assistant API
API_VERSION=0.1.0
ENVIRONMENT=development
DATABASE_URL=postgresql+asyncpg://ai_career_user:ai_career_password@localhost:5435/ai_career_assistant_db

OPENAI_API_KEY=тут_твій_openai_api_key
OPENAI_MODEL=gpt-4o-mini